MONGODB_URI=mongodb+srv://wisdomoffiong688_db_user:5GqnVTEronVPleDF@cluster0.9h8mjin.mongodb.net/?appName=Cluster0
PORT=5000
JWT_SECRET=your_generated_random_secret_here_e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855
CLIENT_URL=http://localhost:3000
